<Configuration>
	<RunIntervals>
		<SMBModule>2</SMBModule>
		<NetworkBandwidthModule>60</NetworkBandwidthModule>
	</RunIntervals>
	<MailSettings>
		<General>
			<SMTPServer>mail.worldposta.com</SMTPServer>
			<Sender>PowerEye@roaya.co</Sender>
			<Recipient>MGabr@roaya.co</Recipient>
			<CC>Mtawfik@roaya.co</CC>
		</General>
		<SMBModule>
			<Subject>PowerEye | SMB Module</Subject>
		</SMBModule>
		<NetworkBandwidthModule>
			<Subject>PowerEye | Network Bandwidth Module</Subject>
		</NetworkBandwidthModule>
	</MailSettings>
</Configuration>